.card {
    display: flex;
    margin: 0 100px;
    flex-wrap: wrap;
    justify-content: space-between;

}
.card-item-bottom, .card-item-top{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 300px ;
    background-color: #ffffff;
    border-radius: 5px 50px;
    box-shadow: -1px 4px 8px -4px #000000;
    cursor: pointer;
    transition: all 0.5s ease;
    text-align: center;
}
.card-item-bottom {
    margin-top: 30px;
}
.card-animation span{
    transition: 2s;
}
.card-item-top:hover{
    transform: scale(1.05);
}
.card-item-bottom:hover{
    transform: scale(1.05);
}
.card-icon{
    width: 90px;
    height:90px ;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: -1px 4px 8px -4px #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.card-icon img {

    width: 60%;
    height:60%;
}
.card span{
    font-size: 40px;
    font-weight: 1000;
    color: green;
    margin-top: 20px;
}
.card h3{
    font-size: 20px;
    font-weight: bold;
    margin-top: 25px;
}
.event-main{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 88%;
}
.new-event{
    width: 100%;
    text-align: right;
    margin-bottom: 30px;
}
.new-event h1 {
    font-size: 40px;
    font-weight: 750;
    margin-bottom: 30px;
}
.new-event p{
    /*margin-right: -5px;*/
    font-size: large;
    margin: 40px 0;
    /*font-weight: bold;*/
}
.slide{
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
#event-content{
    display: flex;
    position: relative;
}


.event-content {
    width: 100%;
    height: 350px;
    border: 1px solid #ffffff;
    display: flex;
    border-radius: 5px 30px 5px 30px;
    flex: 1 0 100%;
    transition: transform 0.5s;

}
.event-content-image,.even-news-content{
    width: 50%;
    height: 100%;
}

.event-content-image{
    overflow: hidden;
    border-radius:5px 5px 5px 80px ;
    margin-right: 5px;
}
.event-content-image img{
    width: 100%;
    height: 100%;

}

.even-news-content { ;
    border-radius:5px 80px 5px 5px ;
    background-color: #eee;
}
.even-news-content h3,p,.time{
    margin: 40px 30px ;
}
.even-news-content .time-icon{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.even-news-content h3{
    font-weight: 700;
    font-size: 20px;
}
.even-news-content p,.time {
    font-size: large;
    line-height: 1.8;

}
.new-page1,.new-page2 {
    font-size: 30px;
    font-weight: bold;
    color: green;
}
.new-page1{
    width: 100%;
    text-align: end;
    margin: 20px 0 50px 0;

}
.new-page1 i{
    cursor: pointer;
}
.new-page1.two {
    width: 96%;
    margin-top: -50px;
    text-align: center;
}
.education-header h1{

    font-size: 40px;
    font-weight: 750;
}
.education-header p{

    font-size:large;
    margin : 25px 0 ;

}
.education-main{
    display: flex;
    height: 250px;
    width: 100%;
}
.education-main-content,.education-main-image{
    width: 50%;
    height: 50%;
}

.education-main h3{
    font-weight: 700;
    font-size: large;
}
.education-main p {
    margin: 20px 20px 0 0;
    font-size: large;
    line-height: 1.8;
}
.education-main-image{
    border-radius: 5px;
}
.education-main-image img{
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
}
.new-page2{
    margin-top:40px;
}
.new-page2 i:first-child{
   margin-left: 42%;
}

/*research*/
.research{
    height: 800px;
    background-image: linear-gradient(180deg, rgb(8 165 79) 30%, transparent);
    position: relative;
}
.research .custom-shape-divider-top-1701138516 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.research .custom-shape-divider-top-1701138516 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 175px;
}

.research .custom-shape-divider-top-1701138516 .shape-fill {
    fill: #FFFFFF;
}
.research-head {
    position: absolute;
    right: 125px;
    top: 197px;
}
.research-head h1{
    color: #fff;
    font-size: 40px;
}
.research-head p{
    color: #fff;
    margin: 20px 0 0 -100px;
}
.research-detail{
    display: flex;
    position: absolute;
    top: 400px;
    justify-content: space-around;

}
.research-detail-one{
    width: 30%;
    height: 420px;
    background-color: #FFFFFF;
    border-radius: 5px 50px;
    text-align: center;
}
.research-detail-image img{
    margin: 20px 0 0 ;
    width: 90%;
    height: 60%;
    border-radius: 5px 50px;
}
.research-detail-one h3 {
    margin: 20px 0;
    font-size: 18px;
    font-weight: 700;
}
.research-detail-one a,.time a {
    color: red;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    transition: font-size 0.3s, border-bottom 0.3s;
}

.research-detail-one a:hover,
.time a:hover {
    font-size: 19px;
    border-bottom: 2px solid red;
}

.cooperate {
    width: 100%;
    height: 650px;
    display: flex;
    margin-top: 100px;
}
.cooperate-left,.cooperate-right{
    width: 50%;
    height: 100%;
    position: relative;
}
.cooperate-left{
    height: 610px;
}
.cooperate-left-title{
    margin: 0 0 0 100px;
    text-align: start;
}
.cooperate-left-title h1 {
    font-size: 40px;
    font-weight: 750;
}
.cooperate-left-title p{
    margin: 30px 0 100px;
    font-size: large;
}
.cooperate-left .image-left {
    display: inline-block;
    margin-left: 30px;
    height: 50%;
    width: 30%;
    overflow: hidden;
}

.cooperate-left .image-left img ,
.cooperate-left .image-right img{

    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px 50px;
}
.cooperate-left .image-right {
    display: inline-block;
    margin-left: 30px;
    height: 52%;
    width: 40%;
    overflow: hidden;
}

.cooperate-right .background {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.cooperate-right .background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.1;
}
.cooperate-text {
    position: absolute;
    bottom:66px;
}
.cooperate-text h3{
    font-size: 25px;
    margin: 0 0 -10px 30px;
}
.cooperate-text p{
    font-size: large;
    line-height: 1.6;
    margin-right: 40px;
}
.cooperate-text .time-icon{
    display: flex;
    justify-content: space-between;
    margin-right: 15px;

}
.time span{
    position: absolute;
    right: 180px;
}
.new-page1.three{
    position: absolute;
    top: 717px;
    right: 24px;
}
.time-icon i strong{
    margin-left: 10px;
}

.new-event.experience{
    width: 100%;
}
.experience-image{
    margin: 0 150px;
}
.experience-main{
    width: 100%;
    height: 600px;
    position: relative;
    display: flex;
    justify-content: space-around;
}
.experience-detail{
    margin-top: 100px;
    width: 30%;
    height: 100%;
    background-color: #fdfffe;
    border-radius: 10px 60px;
    box-shadow: -1px 4px 8px -4px #000000;
    position: relative;
}
.image-container {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    top: -67px;
    left: 50px;
}

.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.experience-text{
    position: absolute;
    top: 90px;
}
.experience-text h2{
    padding: 0 30px;
    font-size: x-large;
    font-weight: bolder;
    line-height: 1.4;
}
.experience-text p{
    margin: 25px 30px;
    font-size: large;
    line-height: 1.6;
}
.image-library{
  margin-top: 300px;

}
.image-title{
    font-size: 20px;
    font-weight: 750;
    margin-bottom: 20px;
}
.image-title p{
    margin-left:0;
}
.image-card{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.image-card .image-1{
    width: 75%;
    height: 300px;
    overflow: hidden;
}
.image-card .image-1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px 50px;

}
.image-card .image-2{
    width: 22%;
    height: 300px;
    overflow: hidden;
    border-radius: 5px 40px;
}
.image-card .image-2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px 40px;
    margin-left: 20px;

}
.image-card .image-3{
    width: 45%;
    height: 300px;
    overflow: hidden;
    border-radius: 5px 40px;
    margin-right: 22px;
}
.image-card .image-3 img{
    margin-top: 20px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px 40px;

}
.image-card .image-4{
    width: 27%;
    height: 300px;
    overflow: hidden;
    border-radius: 5px 40px;
    margin-right: 18px;
}
.even-news-content h3{
    line-height: 1.4;
}
.image-card .image-4 img{
    margin-top: 20px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px 40px;

}
.image-card .image-5{
    width: 22%;
    height: 300px;
    overflow: hidden;
    border-radius: 5px 40px;
}
.image-card .image-5 img{
    margin-top: 20px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px 40px;
}
.photo-more{
    font-size: 30px;
    font-weight: bold;
    color: green;
    margin: 50px 0 200px;
    text-align: center;
}



















